
<h1>A propos de moi</h1>

<p>Je me présente, Setti BELKACEM. Développeur Web Intégrateur Junior.
Actuellement, en formation de 10 mois labellisée Grande École du Numérique Techniques de développement web et mobile avec WebForce3. Sociable, impliquée, à l'écoute des contraintes professionnelles et aux besoins du client, je suis à la recherche d'un stage non rémunéré d'une durée de 2 mois (Janv -Fév.). </p>